---
import Layout from "../layouts/Layout.astro";
---

<Layout title="passwords">
    <main>
        <h1 class="text-lg">passwords.</h1>
        <p class="text-foreground/50 text-sm">coming soon.</p>
        <br />
        <a
            class="text-foreground/20 hover:text-foreground/80 underline underline-offset-2 transition-all duration-200"
            href="https://github.com/passwords-so/passwords"
            target="_blank"
        >
            GitHub
        </a>
    </main>
</Layout>
